*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.crossRotate{
    transform: rotate(360deg);
    transition: transform 1s;
}
.crossRotate:active{
    transform: rotate(0deg);
    transition:  0s;
}

#formOrdenes{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.08);
}
#tituloForm{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

#buscarCategoria{
    width: 75%;
    margin: 15px auto;
}
#nombreCategoria{
    margin: 5px 0;
}

