*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo-index{
    background-color: white;
}

#divFrecuenciaCategorias,#divCostoMaterialesCategorias,#divCostoFuncionariosEjecutivosCategorias,#divCostoTotalCategorias,#divFrecuenciaOrdenesPorHoras{
    color: lightseagreen;
    font-weight: bolder;
    font-size: 25px;
    font-family: monospace;

    position: relative;
    background: #000000;
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgb(0,0,0,0.08);
    border-radius: 20px;

    opacity: 0.8;
}

.tdOrdenes{
    margin: auto;
    padding: 10px;
    font-size: 20px;
}

.cardDashboard{
    margin: 20px;
    border-radius: 15px;
    transition: all 0.3s;
    background-color: rgb(245, 243, 243);
    box-shadow: 0 7px 25px rgb(0,0,0,0.08);

}

.cardDashboard:hover{
    background-color: rgba(255, 255, 255, 1);
}
.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
}

.cardDash{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 20px;
}
.pDash{
    font-weight: bolder;
    font-size: 25px;
    margin: 0 auto;
}

img{
    margin: auto;
}


button{
    color: white;
    border-style: none;
    border-radius: 5px;
    background-color: lightslategray;
    padding: 5px;
    margin: 5px;
}



#main-listaGraficos{
    display: flex;
    flex-wrap: wrap;
}
#main-infoOrdenes{
    display: flex; 
    justify-content: center;
    margin: 50px auto;
}
#tablaOrdenes{
    width: 800px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 7px 25px rgb(0,0,0,0.2);
}


#chart{
    margin: 20px;
}
.apexcharts-canvas{
    margin: auto;
}

#container-chart{
    display: flex;
    justify-content: center;
    margin: 10px auto;
}
#info-chart{
    margin: auto 0;
}
#container-graficos{
    display: flex;
    justify-content: center;
    margin: 100px auto;
}
#formGrafico{
    width: 350px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto 0;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 7px 25px rgb(0,0,0,0.1);

}
#main-main-container-Graficos{
    margin: auto 20px;
    width: 750px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 7px 25px rgb(0,0,0,0.1);
    background-color: rgba(255, 255, 255, 1);


}
.container-Graficos{
    width: 600px;
} 


#btnDescargar{
    height: 50px;
}

#headerUser{
    background-color: rgb(105, 170, 212);
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 20px;
}