*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
#frecuenciaCategorias,#costoMaterialesCategorias,#costoFuncionariosEjecutivosCategorias,#costoTotalCategorias,#frecuenciaOrdenesPorHoras{

} */
#divFrecuenciaCategorias,#divCostoMaterialesCategorias,#divCostoFuncionariosEjecutivosCategorias,#divCostoTotalCategorias,#divFrecuenciaOrdenesPorHoras{
    color: lightseagreen;
    font-weight: bolder;
    font-size: 25px;
    font-family: monospace;

    position: relative;
    background: #000000;
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgb(0,0,0,0.08);
    border-radius: 20px;

    opacity: 0.8;
}
/* #divFrecuenciaCategorias{
    width: 50%;
}
#divCostoMaterialesCategorias{
    width: 50%;
}
#divCostoFuncionariosEjecutivosCategorias{
    width: 50%;
}
#divCostoTotalCategorias{
    width: 50%;
}
#divFrecuenciaOrdenesPorHoras{
    width: 50%;
} */
.tdOrdenes{
    margin: 0 10px;
    padding: 10px;
    font-size: 20px;
/*     background-color: lightslategray;
 */}
/* .container-ordenes{
    background-color: rgb(88, 100, 113);
    color: white;
} */
.cardDashboard{
    margin: 20px;
    border-radius: 15px;
    transition: all 0.3s;
}

.cardDashboard:hover{
    background-color: rgb(229, 238, 254);
}

#container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
}

.cardDash{
    display: flex;
    flex-wrap: wrap;
}
.pDash{
    font-weight: bolder;
    font-size: 25px;
    margin: auto;
}

img{
    margin: auto;
}

#tablaOrdenes{
    width: 60%;
    margin: 0 auto;
}

#chart-container{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    min-height: 200px;

}
.btn-light{
    background-color: lightslategray;
}
button{
    color: white;
    border-style: none;
    border-radius: 5px;
    background-color: lightslategray;
    padding: 5px;
    margin: 5px;
}

@media (max-width: 1000px) {
    #divFrecuenciaCategorias{
        width: 100%;
    }
    #divCostoMaterialesCategorias{
        width: 100%;
    }
    #divCostoFuncionariosEjecutivosCategorias{
        width: 100%;
    }
    #divCostoTotalCategorias{
        width: 100%;
    }
    #divFrecuenciaOrdenesPorHoras{
        width: 100%;
    }
  }